


/* common */
.body__container{
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  font-weight: 400;
  color: #333;
}

a{
text-decoration: none; /* 밑줄 삭제 */
color:#333333;
}



/* btn */
.btn{
  height:34px;
  background:#eee linear-gradient(to bottom, #fcfcfc, #eee);
  border:1px solid #d5d5d5;
  border-radius: 4px;
  display:inline-flex;
  align-items:center;
  padding: 0 12px;
  font-size:14px;
  font-weight:500;
  line-height:1.5;
  cursor:pointer;
  box-sizing: border-box;
  position: relative;
}

.btn:hover::before{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.07);
}

.btn.btn--primary{
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e)
}



/* input--text */
.input--text{
  height:34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline:none; /*클릭시 박스의 테두리 색이 변경 안되도록*/
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);/*그림자 설정*/
  font-size:16px;
  
}
.input--text:focus{ /*박스가 focus되면 동작*/
  border-color:#51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 
              0 0 5px rgba(81,167,232,0.5);
}
/* Vendor Prefix(브라우저 업체별 접두사(실험적 기능)) 크롬은 -webkit-, 익스플로러는 -ms-, -moz-는 모질라, -o-는 오페라*/
.input--text::-webkit-input-placeholder{color:#cacaca;}
.input--text::-ms-input-placeholder{color:#cacaca;}
.input--text::-moz-input-placeholder{color:#cacaca;}
/* place holder의 색깔 변경 */

/* FLOAT CLEARFIX */
.clearfix::after{
  content: "";
  clear:both;
  display:block;
}

.float--left{
  float:left;
}
.float--right{
  float:right;
}

/* SUMMARY */
.summary{
}
.summary__title{
  font-size:38px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 18px;
}
.summary__discription{
  font-size:25px;
  font-weight: 300;
  color:#767676;
  line-height:1.5;
}
/* 본문과 내용에 공통적인 속성들 지정 */
/* section && inner */
.section{
  position: relative;
}
.section .inner{
  max-width:980px;
  margin: 0 auto;  
  box-sizing: border-box;
  position:relative;/*포지션이 absolute이면 계속 포지션 찾으러 상위로 가는데 여기서 멈추라고 지정해둠*/
}

/* Header */
header{
  border-bottom: 1px solid rgba(0,0,0,.75);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
  background: #ffffff;
}
header .inner{
  height:78px;
  /* 여기에 높이를 지정해놓으면 한번만 지정해도 header의 높이가 자동으로 지정되기 때문에 */
  margin:0 auto; /*가운데 정렬인데 이걸 사용하려면 가로 사이즈가 무조건 정해져있어야함*/
}

header .menu-group{
  display:flex; /*자식들은 기본적으로 수평정렬*/
  align-items:center; /*수직정렬*/
  height:100%;
}
header .logo{
  margin-right: 10px;
}
header .logo a{
  background: url("../img/logo.svg");
  display:block;
  width:32px;
  height:32px;
  text-indent:-9999px; /*글씨를 화면에 안보이게하기위함(들여쓰기를 통한 대체 텍스트) - -9999는 화면에서 안보이게하자는 약속*/
}

header .logo a:hover{
  background-image: url("../img/logo_on.svg");
}

header .main-menu{
  display:flex;
}
header .main-menu li a{
  padding:10px; /* padding을 쓰는 이유는 그 주변 영역을 눌러도 클릭이 되도록 하기위함*/
  display:block;
  color: #3c4146;
}

header .main-menu li a:hover{
  color: #4078c0;
}

header .sign-group{
  display:flex;
  align-items: center;
  height:100%;
}

header .btn-group{
  order:2;
  display:flex;
}
header .btn-group .sign-in{
  margin-right:4px;
}
#search-form{
  /* id 선택자 */
  order:1;
  margin-right:12px;
}
#search{
  width:160px;
  font-size:14px;
}

#search + [type="submit"]{
  display:none;
}

header .sub-menu{
  display:flex;
}
header .sub-menu li a{
  padding:8px;
  display:block;
  font-size:13px;
  color: #3c4146;
}

header .sub-menu li a:hover{
  color: #4078c0;
}

/* VISUAL */
.section--visual{
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size:cover; /*배경 사이즈를 요소의 전체를 커버하도록*/
}

.section--visual::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: rgba(0,0,0,0.3);
  /* 배경을 살짝 어둡게 만들기 위해 사용 */
}

.section--visual .inner{
  padding: 160px 0;
  display:flex;
}

.section--visual .summary{
  flex-grow:1;
  flex-basis:0;
  /* 남은 공간의 1배율만큼 가지게 하기위함 */
  margin-right:90px;
}

/* 사진있는쪽 summary의 특수한 css */
.section--visual .summary__title{
  font-size:54px;
  color:#fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.25), 
               0 1px 25px rgba(0,0,0,.75);
}


.section--visual .summary__discription{
  color:#fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.25), 
               0 1px 25px rgba(0,0,0,.75);
}

#sign-form{
  width:340px;
}



#sign-form li{
  margin-bottom: 17px;
}



#sign-form li:last-child{
  margin-bottom:0;
}

#sign-form .input--text{
  width:100%;
  height:40px;
  
}

#sign-form .caption{
  font-size:12px;
  margin-top:5px;
  color:rgba(255,255,255,.6);
  line-height:1.5;
  text-align: center;
  /* 캡션의 설정 */
}

#sign-form [type="submit"]{
  width:100%;
  height:62px;
  padding:0 25px;
  font-size:20px;
  justify-content: center; /*버튼이 inline-flex라 이거 써야됨*/
}

